body {
	background-color: #aaa;
	color: #ccc;
	font-family: lucida sans unicode, sans-serif;
	font-size: 0.7em;
}

img {
	border: 0px;
}

h1 {
	font-family: sans-serif;
	font-size: 120%;
}

h2 {
	font-family: sans-serif;
	font-size: 110%;
}

p {
	margin-left: 15px;
}

blockquote {
	background-color: #fff;
	color: #777;
	padding: 3px;
}

#id {
	background: #9a9a9a url(images/image.jpg) no-repeat left;
	color: #ccc;
	margin: 50px 70px 0px 70px;
	height: 119px;
	border: 1px solid #7a7a7a;
	padding-left: 20px;

}

#id img {
	margin-left: 5px;
	margin-top: 20px; 
}


#title {
	position: absolute;
	top: 70px;
	right: 70px;
}

#stage {
	border: 1px solid #7a7a7a;
	margin: 23px 70px 0px 70px;
	background-color: #f5f5f5;
	color: #777;
	padding: 25px;
	height: 100%;
}

#stage a {
	color: #006;
}

#corefeature {
	position: absolute;
	top: 220px;
	left: 300px;
	padding: 20px;
	width: 40%;
	border: 1px solid #e0e0e0;
	background-color: #fff;
	color: #333;
}

#lead_features {
	position: absolute;
	top: 220px;
	left: 70%;
}

#lead_features div {
	border: 1px solid #e0e0e0;
	margin: 3px;
	padding: 3px;
	width: 220px;
	background-color: #fff;
	color: #777;
	font-size: 80%;
}

ul {
	list-style-image: url(images/bullet.gif);
}

.menu {
	width: 200px;
	height: 600px;
	
}

.menu li {
	margin-top: 3px;
}

.caption {
	font-size: 80%;
}

#section {
	position: absolute;
	top: 250px;
	left: 400px;
	width: 55%;
	background-color: #fff;
	color: #333;
	border: 1px dotted #e0e0e0;
	padding: 7px;
}

#section img {
	margin: 5px;
}

.feature {
	margin: 10px 200px 0px 200px;
	padding: 20px;
	border: 1px solid #e0e0e0;
	background-color: #fff;
	color: #333;
}

form input, select {
	font-family: lucida sans unicode, sans-serif;
	font-size: 100%;
}

.button {
	border: 1px solid #777;
	background-color: #ccc;
	color: #333;
	text-decoration: none;
	padding: 2px;
}

table {
	font-family: lucida sans unicode, sans-serif;
	font-size: 100%;
}

table td {
	background-color: #fff;
	color: #333;
	border: 1px dotted #e0e0e0;
	padding: 7px;
}

#nav {
	position: absolute;
	top: 172px;
	left: 80px;
	padding: 2px;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 1.1em;
}

#nav a {
	color: #f5f5f5;
	background-color: #aaa;
	padding-left: 10px;
	text-decoration: none;
}

#tools {
	position: absolute;
	top: 172px;
	right: 90px;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 1.1em;
}

#tools a {
	color: #f5f5f5;
	background-color: #aaa;
	text-decoration: none;
}

#smallprint  {
	margin: 2px 70px 0px 0px;
	text-align: right;
	font-size: 90%;
}